/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .myh1 {
    font-size: 30px;
  }
  .navbar img {
    width: 100px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .myh1 {
    font-size: 20px;
  }
  .navbar img {
    width: 120px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .myh1 {
    font-size: 16px;
  }
  .navbar img {
    width: 130px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .myh1 {
    font-size: 18px;
  }
  .navbar img {
    width: 140px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .myh1 {
    font-size: 20px;
  }
  .navbar img {
    width: 150px;
  }
}

@media (min-width: 1400px) {
  .myh1 {
    font-size: 30px;
  }
}